h1, h2 {
  text-align: center;
}

main {
  margin-top: 90px;
}
.container{
  display: flex;
  flex-direction: row;

}

.schema{
  width: 50%;
  border-right: 2px solid;
  padding: 0 20px;
}

.sidebar{
  width: 50%;
}

.header {
  transform: translateY(0);
  transition: transform 300ms 300ms cubic-bezier(0.4, 0, 0.2, 1), opacity 0ms 300ms;
  opacity: 1;
  height: 72px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #212121;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 4;
}

.brand {
  display: flex;
  align-items: center;
  height: 72px;
  margin-right: auto;
  padding-left: 24px;
  -webkit-font-smoothing: auto;
  text-decoration: none;
}

.brand__title {
  color: #fff;
}

.brand__logo {
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 16px;
  background: url('https://storage.googleapis.com/spec-host/material-io/prod/1593119448294/static/angular/mio-logo-sprite.46a35221e587121d85e8.png') 100% 50%/auto 100% no-repeat;
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
}
