<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
        <button mat-icon-button disabled></button>
        <span class="item-node">{{node.item.name}} ({{node.item.type}})</span>
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
        <button mat-icon-button disabled></button>
        <mat-form-field>
            <mat-label>Тип элемента</mat-label>
            <mat-select #itemType name="type">
                <mat-option *ngFor="let type of this.types$ | async" [value]="type.name">
                    {{type.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Название элемента</mat-label>
            <input matInput #itemName>
        </mat-form-field>

        <button mat-button (click)="saveNode(node, itemType.value, itemName.value)">Добавить</button>
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'toggle ' + node.filename">
            <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
        </button>
        <span *ngIf="node.item.name" class="item-node">{{node.item.name}} ({{node.item.type}} )</span>
        <span *ngIf="!node.item.name" class="item-node">{{node.item.type}}</span>
        
        <button mat-icon-button (click)="addNewItem(node)"><mat-icon>add</mat-icon></button>
    </mat-tree-node>
</mat-tree>

<button (click)="save()">Сохранить тип</button>


